<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Soal</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>
<H1>Input Soal</H1>




<form action="#" th:action="@{/soal/view}" th:object="${soal}" method="post">

<div class="mb-3">
  <label for="nama" class="form-label">Nama Soal</label>
  <input type="text" class="form-control" id="nama" placeholder="Nama Soal" th:field="*{namaSoal}">
</div>

<div class="mb-3">
  <label for="username" class="form-label">Status</label>
  <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{status}">
</div>

<div class="mb-3">

<select id="multiSelectElementsSelected"
            name="multiSelectElementsSelected"
            multiple="multiple"
            th:field="*{lstPertanyaan}">

        <option th:each="pertanyaan,row : ${listPertanyaan}"
                th:value="${pertanyaan.id}"
                th:text="${pertanyaan.pertanyaan1}"></option>
</select>
<div class="mb-3">
<input type="hidden" th:field="*{id}">

 <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>